#Config file for Pat Menu
#20200429 KM4ACK
MYCALLSIGN=KM4ACK
MAP=usa
RIGCONTROL=yes
ARDOP="/home/pi/ardop/./piardopc 8515 plughw:1,0 plughw:1,0"
ARDOPGUI="/home/pi/ardop/./piARDOP_GUI"
DIREWOLF="direwolf -p"
KISS="sudo /usr/sbin/kissattach /tmp/kisstnc"
AXP=wl2k
RIG="/usr/local/bin/rigctl -m 4"
MODEHF=PKTUSB
MODE2M=FM
PORT=5050
LOG=/home/pi/Documents/mylog.txt
AMRRON=no
